# Dependencies
functions/node_modules/
node_modules/

# Coverage
coverage/

# Temp test files
tests/__extracted__.js

# Firebase
.firebase/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Temporary
temp/
tmp/

# Secrets
sa-key.json

.vercel
